{% extends 'core/base.html' %}

{% block title %}{{lead.name}}{% endblock %}

{% block content %}
    <div>
        <h1 class="px-6 mt-4 mb-4 text-xl">{{lead.name}}</h1>

        {% if lead.description %}
            <p class="px-6 font-semibold">Name</p>
            <p class="px-6 mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="px-6 font-semibold">Priority</p>
        <p class="px-6 mb-2">{{ lead.get_priority_display }}</p>

        <p class="px-6 font-semibold">Status</p>
        <p class="px-6 mb-2">{{ lead.get_status_display }}</p>

        <p class="px-6 font-semibold">Created at</p>
        <p class="px-6 mb-2">{{ lead.created_at|date:"M-d-Y H:i" }}</p>

        <p class="px-6 font-semibold">Modified at</p>
        <p class="px-6 mb-6">{{ lead.modified_at }}</p>

        <hr class="my-4">

        <form id="lead_delete_form" action="{% url 'leads:delete' lead.id %}"  method="POST">
            {% csrf_token %}
        </form>

        <div class="px-6">
            <a href="{% url 'leads:convert' lead.id %}" class="py-2 px-4 rounded-xl bg-blue-500 text-white">Convert to client</a>
            <a href="{% url 'leads:edit' lead.id %}" class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
            <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>

            <hr class="my-4">

            <h2 class="mb-6 text-xl">Comments</h2>

            <div class="space-y-4">
                {% for comment in lead.comments.all %}
                    <div class="bg-gray-100 py-6 px-6 rounded-xl">
                        <p class="mb-2"><strong>{{ comment.created_by }}</strong>@ {{ comment.created_at }}</p>
                        {{ comment.content }}
                    </div>
                {% endfor %}
            </div>

            <br>
            <form action="{% url 'leads:add_comment' lead.id %}" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <br>
                <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
            </form>
        </div>

        <hr class="my-4">
        <div class="px-6">
            <h2 class="mb-6 text-xl">Files</h2>

            <div class="space-y-4">
                {% for file in lead.files.all %}
                    <div class="bg-gray-100 py-6 px-6 rounded-xl">
                        <p class="mb-2"><strong>{{ file.created_by }}</strong>@ {{ file.created_at }}</p>
                        
                        <a href="{{ file.file.url }}" target="_blank">Download</a>

                    </div>
                {% endfor %}
            </div>

            <form action="{% url 'leads:add_file' lead.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ filesform.as_p }}

                <br>
                <button class="py-2 px-4 rounded-xl bg-blue-500 text-white">Submit</button>
            </form>
        </div>

        <hr class="my-4">

        <div class="px-6">
            <a href="{% url 'leads:list' %}">Back to Leads</a>
        </div>
        <hr class="my-4">
    </div>
{% endblock %}