{% extends 'core/base.html' %}

{% block title %}{{lead.name}}{% endblock %}

{% block content %}
    <div>
        <h1 class="px-6 mt-4 mb-4 text-xl">{{lead.name}}</h1>

        {% if lead.description %}
            <p class="px-6 font-semibold">Name</p>
            <p class="px-6 mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="px-6 font-semibold">Priority</p>
        <p class="px-6 mb-2">{{ lead.get_priority_display }}</p>

        <p class="px-6 font-semibold">Status</p>
        <p class="px-6 mb-2">{{ lead.get_status_display }}</p>

        <p class="px-6 font-semibold">Created at</p>
        <p class="px-6 mb-2">{{ lead.created_at|date:"M-d-Y H:i" }}</p>

        <p class="px-6 font-semibold">Modified at</p>
        <p class="px-6 mb-6">{{ lead.modified_at }}</p>

        <hr class="my-4">

        <div class="px-6">
            <a href="{% url 'leads_convert' lead.id %}" class="py-2 px-4 rounded-xl bg-blue-500 text-white">Convert to client</a>
            <a href="{% url 'leads_edit' lead.id %}" class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
            <a href="{% url 'leads_delete' lead.id %}" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>
        </div>

        <hr class="my-4">

        <div class="px-6">
            <a href="{% url 'leads_list' %}">Back to Leads</a>
        </div>
        <hr class="my-4">
    </div>
{% endblock %}