{% extends 'core/base.html' %}

{% block title %}{{client.name}}{% endblock %}

{% block content %}
    <div>
        <h1 class="px-6 mt-4 mb-4 text-xl">{{client.name}}</h1>

        {% if client.description %}
            <p class="px-6 font-semibold">Description</p>
            <p class="px-6 mb-2">{{ client.description }}</p>
        {% endif %}

        <p class="px-6 font-semibold">Created at</p>
        <p class="px-6 mb-2">{{ client.created_at|date:"M-d-Y H:i" }}</p>

        <p class="px-6 font-semibold">Modified at</p>
        <p class="px-6 mb-6">{{ client.modified_at }}</p>

        <hr class="my-4">

        <div class="px-6">
            <a href="{% url 'clients:edit' client.id %}" class="py-2 px-4 rounded-xl bg-teal-500 text-white">Edit</a>
            <a href="{% url 'clients:delete' client.id %}" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</a>
        </div>

        <hr class="my-4">

        <div class="px-6">
            <a href="{% url 'clients:list' %}">Back to Clients</a>
        </div>
        <hr class="my-4">
    </div>
{% endblock %}